[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
pyaml = "*"
pytest = "*"
pytest-timeout = "*"
pytest-assume = "*"
pytest-html = "*"
pytest-xdist = "*"
pytest-sugar = "*"
pytest-dependency = "*"
flaky = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
